.login-main {
  background-color: #7a2be2;
  color: white;
  margin: 40px auto;
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.login-main input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.login-main button {
  background-color: #ffffff;
  color: #7a2be2;
  padding: 10px;
  border: 2px solid #7a2be2;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.login-main button:hover {
  background-color: #7a2be2;
  color: white;
}
